<html>
	<title>這是一個簡陋的小網頁</title>
	<head>
		<link href="css/main_style.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-1.11.3.min.js" ></script>
        <script src="js/ejs_production.js"></script>
	</head>
	
	<body>
	 <div class="header">
            
        </div>
		 <div class="div-left">
             <div class="menu">
                <ul>
                    <li><a ></a></li>
                    <li><a href="/">首頁</a></li>
                    <li><a href="/first">問卷</a></li>
                    
            </div>
        </div>
            
		
	</body>
</html>