<h1>訪客</h1>
<div class='name'>名字</div> <input type="text" id="firstname"/><br />
<div class='name'>信箱</div> <input type="text" id="adress"/><br />
<div class='name'>意見</div> <input type="text" id="suggestion"/><br />
<button class="btn-post">提交</button>
