<h1>詳細內容</h1>
<div>
  <span class='name'>姓名:</span>
  <span><%= userinfo['firstname'] %></span>
</div>
<div>
  <span class='name'>信箱:</span>
  <span><%= userinfo['adress'] %></span>
</div>
<div>
  <span class='name'>建議:</span>
  <span><%= userinfo['suggestion'] %></span>
</div>

