<h1>更新資訊</h1>
<div class='name'>姓名:</div> <input type="text" placeholder="<%= userinfo['firstname'] %>" id="firstname0"/><br />
<div class='name'>信箱:</div> <input type="text" placeholder="<%= userinfo['adress'] %>" id="adress0"/><br />
<div class='name'>建議:</div> <input type="text" placeholder="<%= userinfo['suggestion'] %>" id="suggestion0"/><br />
<button class="btn-update" name=<%= userinfo['_id']%>>更新</button>
