body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: 	#33FFDD;
}
.header{
    margin: auto;
    height: 12vh;
    width: 100%;
    position: absolute;
    text-align: center;
    background-color: #fff;
}
.logo img{
    vertical-align: middle;
    height: 70px;
}
.content{
    margin: auto;
    padding: 80px;
    width: 70%;
    height: 60vh;
    vertical-align: middle;
    padding-bottom: 50px;
    color: #0C0C0C;
    background-color: rgba(255, 255, 255, 0.45);
}
.div-left{margin: auto;
    top:30vh;
    height: 100vh;
    width: 30vh;
    background-color: 		#009FCC;
    float:left;
   } 

.menu ul{
    width: 50%;
    margin: 10px;
}
.menu ul li{
    
    top: 40%;
    height: 30px;
    margin-top: 30px;
    font-size: 28px;
    text-align: center;
    float: left;
    list-style-type: none;
}
.menu ul li a{
    padding: 20px;
    margin: auto;
    width: 200px;
    height: 100px;
    background-color:	#33FF33;
    font-family:Arial;
    color: #0C0C0C;
    text-decoration: none;
    letter-spacing: 6px;
    
}

#usernew{
	float: left;
	margin: 20px;
}
#userinfo{
	float: left;
	margin: 40px;;
}
#userupdate{
	width: 300px;
	float: none;
	margin: 20px;
}
.name {
	display: inline-block;
	width: 130px;
    padding: 5px;
    }
ul li{
     list-style-type: none;
}
h1{
    font-family: "Adobe 繁黑體 Std";
}
}
p{
    font-family: "微軟正黑體";
    font-size: 18px;
}